/* form {
    background-color: black;
    color: blue;
    padding: 20px;
    display: table;
} */

#pagetitle {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#signature {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#day-selection-bar > div {
    list-style: none;
    display: inline-block;
    text-align: left;
    padding: 0 0.5rem;
    background: rgb(173, 205, 234);
    float: none;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 10px;

    
}
#day-selection-bar {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 25px auto;
}